################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MedistockApp/FileContentIndex/223da78a-defa-414e-9dc1-e38b4517b031.vsidx
